.DS_Store
.vagrant/
.buildpath
.project
.idea
.luacheckcache

logs/*.log

resty_modules/manifest
resty_modules/pod
resty_modules/resty.index

client_body_temp
fastcgi_temp
proxy_temp
scgi_temp
uwsgi_temp
